.header {
  text-align: center;
  background-color: rgb(50, 53, 56);
  color: #eee;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    padding: 0;
    margin: 0;
  }
}