.character {
  
  &__list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  &__list-wrapper {
  }

  &__name, &__house {
    text-decoration: none;
    color: #eee;
  }
  
  &__list-wrapper {
    height: 310px;
    background-color: grey;
    width: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   
  }

  &__image {
    width: 160px;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
  }
}

.icon__house {
  position: absolute;
  top: 3px;
  right: 10px;
  color: #fff;
  line-height: 0;
  font-weight: 700;
}

.icon__dead {
  position: absolute;
  top: 35px;
  right: 9px;
  color: #fff;
}

.character {
  &--gryffindor {
    background-color: #A14B4C;
  }

  &--ravenclaw {
    background-color: #647B9A;
  }

  &--hufflepuff {
    background-color: #FFD84D;
  }

  &--slytherin {
    background-color: #788D85;
  }
}